@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
     font-family: "Unbounded";
     src: url(fonts/Unbounded-Bold.ttf) format("truetype");
     font-weight: 700;
     font-style: normal;
     font-display: swap;/*o texto aparece imediatamente com alguma fonte padrão*/

}
*{
     margin: 0;
     padding: 0;
     
}
body{
     background-color: #0E1014;
     color: #f5f5f5;
     overflow-x: hidden;
     
     
     
}
header{
     margin-left: 150px;
     padding-top: 10px;
}

h1{
     font-family: "Unbounded", sans-serif;
     font-size: 64px;
     text-align: center;
     line-height: 1;     
}
.h1_main_hero{
     color:#9747FF;
}
p{
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-size: 18px;
     text-align: center;
     max-width: 600px;
     margin-top: 15px;
     padding: 0 5px ;
}
/*ctrl d, primeiro vc seleciona ex classe: h1_hero e se tiver outro elemento com essa classe e vc precisonar ctrl d ele vai selecionar todos e vc pode alterar alguma coisa*/
.main_content__hero{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

}

a{
     text-decoration: none;
     display: inline-block;
     color: #f5f5f5;
     font-family: "Poppins", sans-serif;
     font-size: 18px;
     background-color: #9747FF;
     /*width: 340px;
     height: 66px;*/
     /*text-align: center;
     line-height: 66px;*/
     text-align: center;
     margin-top: 20px;
     padding: 18px 32px;
     border-radius: 36px ;
}
a:hover{
     background-color: #b57ffd;
}
.main_content__hero img {
     max-width: 600px; /* escolha o tamanho */
     width: 100%;
     height: auto; /* mantém a proporção */
     animation: floatSide 4s ease-in-out infinite;
}
@keyframes floatSide {
    0% {
        transform: translateY(0px);
    }
   
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media ( max-width: 768px){
     header{
          margin: 10px;
     }
     h1{
          font-size: 54px;
     }
     a{
          padding: 10px 10px;
          font-size: 18px;
     }
}

@media ( max-width: 600px){
     header{
          margin: 10px;
     }
     h1{
          font-size: 38px;
     }
     p{
          font: 18px;
     }
     a{
          padding: 10px 10px;
          font-size: 18px;
     }
}